<launch>
  <node pkg="livelybot_imu" name="ahrs_driver" type="ahrs_driver" output="screen" >
    <param name="debug"  value="false"/>
    <param name="port"  value="/dev/ttyACM0"/>
    <param name="baud"  value="921600"/>
    <param name="imu_topic"  value="/lvbot_imu"/>
    <param name="imu_frame"  value="imu_link"/>
    <param name="mag_pose_2d_topic"  value="/mag_pose_2d"/>
    <param name="device_type"  value="1"/>
  </node>
  <include file='$(find livelybot_imu)/launch/tf.launch' />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find livelybot_imu)/config/imu.rviz" />
</launch> 
